body
{
    background-color: darkcyan;
    padding: 0;
    margin: 0;
    font-family: "Arial";
    text-align: left;
}

#content
{
    background-color: #fff;
    border: 1px solid #fff;
    padding:0em;
    margin:auto;
    width: 70%;
}

#header
{
    background: blue;
    color: #fff;
    padding:1em;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

#header #logo
{
    width: 40px;
    vertical-align: center;
    padding-right: 1em;
}

#header #tag
{
    font-size: 16px;
    font-weight: normal;
    padding: 0 0 0 0.5em;
}

#bodyContent
{
    padding: 1em;
    font-size: 30px;
}

.bodyContent__title 
{
    font-size:1em;
    line-height: 0.5;
}

.bodyContent__image
{
    width: 15em ;
}

#bodyContent h3
{
    font-size: 1.5em;
}

footer
{
    color: white;
    padding: 1em;
    background-color: rgb(0,0,0,0.5);
    text-align:right;
}